html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eff2f7;
}
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content {
    max-width: 850px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.link-input-container {
    background-color: #fff;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}
.long {
    outline: none;
    border: 0;
    border-radius: 8px;
    padding: 20px;
    font-size: 1em;
}
.submit-btn {
    background-color: #eff2f7;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    margin: 10px 12px;
    font-size: 1em;
    cursor: pointer;
}
.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus,
.btn:hover,
.btn:active,
.btn:focus {
    background-color: #eff2f76c;
}

.link-shortened-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.linkinfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shorturl {
    font-size: 1.8rem;
    font-weight: 600;
}
.btn {
    background-color: #eff2f7;
    border: 0;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 1em;
    cursor: pointer;
}
.hidden {
    display: none;
}